*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid red; */
    background-color: crimson;
    height: 120px;
    color: white;
}

.navbar div h1 a{
    text-decoration: none;
    color: white;
}